/* Backgrounds */
$background-color: #121212;
$surface-color: #242424;

/* Accents */
$primary-color: #d03a00;
$secondary-color: #d03a00;

/* Texts */
$background-text-color: #ffffff;
$surface-text-color: #ffffff;
$primary-text-color: #ffffff;
$secondary-text-color: #ffffff;

/* Dividers */
$background-hr-color: #2a2a2a;
$surface-hr-color: #5b5b5b;